old*
*__pycache__*
*.pkl
# *.out
wandb/
!data/splits.pkl
*.egg-info
*backup*
algos/exp*
algos/logs*
mems/logs*
mems_obs/logs*
mems_obs/updated_datasets
!data/top_paths.pkl
CABI
awr_pytorch
*.pth 
data/models
rsync_readme.md
rsync_koa_ash.sh
carla-town*
.git_old
viz
algos/koa_ash
algos/analysis_logs_td3bc
algos/d4rl_carla_env_for_record.py
data/datasets
ibc/
algos/print_results.py
algos/mcnn_logs
Diffusion_Policies/results*
